* {
  box-sizing: border-box;
}

:root {
  --green-200: #00ba61;
  --green-300: #00691e;
  --green-400: #006a37;
  --green-700: #005029;
  --green-900: #00371d;
  --white: #fff;
  --grey-100: #f5f5f5;
  --grey-200: #eaeaea;
  --grey-400: #e5e7eb;
  --grey-800: #1e1e1e;
  --blue-400: #0037c5;
  --blue-900: #090922;
  --red-400: #e10036;
  --yellow-400: #e3b100;
}

html,
body {
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

html {
  --main-font-sans: var(--main-font-sans), sans-serif;
  --main-font-mono: var(--main-font-mono), monospace;
  --second-font: var(--second-font);
}

html {
  font-family: var(--main-font-sans), sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
nav {
  padding: 0px;
  margin: 0px;
  font-family: var(--main-font-sans), sans-serif;
}

.main-page-title {
  color: var(--blue-900);
  font-size: 1.25rem;
  font-weight: bold;
}

.layout-pages-container {
  padding-top: 4.375rem;
  background-color: var(--grey-400);
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 1200px) {
  .layout-pages-container {
    padding-left: 14.625rem;
  }
}

svg.stroked-svg {
  stroke: var(--green-900);
}

svg.filled-svg {
  fill: var(--green-900);
}
